<head>
    <title>Super Fancy Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="top-header">
                <h5 class="top-header">Check the weather!</h5>
            </div>
            <div class="col-md-6 text-right">
                <div ngbDropdown class="dropdown">
                    <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1"
                        aria-expanded="false">
                        {{ username }}
                    </button>
                    <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                        <li id="logout" (click)="onLogout()"><a ngbDropdownItem>Logout</a></li>
                        <li><a ngbDropdownItem>Another action</a></li>
                    </ul>
                </div>
                <!-- <li class="dropdown" appDropdown>
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;">Save Data</a></li>
                        <li><a style="cursor: pointer;">Fetch Data</a></li>
                    </ul>
                </li> -->
            </div>
        </div>
    </div>
</header>