<body>
    <!-- <div class="bg-image"> -->
    <!-- <div class="bg-video">
        <video autoplay muted loop>
            <source src="http://192.168.43.191:8887/backgroundvideo.mp4" type="video/mp4">
            
            Your browser does not support the video tag.
        </video>
    </div> -->
    <video autoplay muted loop class="bg-video">
        <source src="http://192.168.0.12:8887/backgroundvideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="city-search">
                    <form>
                        <div class="form-group">
                            <label for="city-input">Enter a City Name:</label>
                            <input type="text" class="form-control" id="city-input" placeholder="e.g. Vienna"
                                name="city" [(ngModel)]="cityInput">
                        </div>
                        <button class="btn btn-primary" type="submit" (click)="getWeatherData()"
                            routerLink="/weather-page">Search</button>
                    </form>
                    <!-- <div *ngIf="data" id="city-info">
                        <h3>City name: {{ data.location.name}}</h3>
                        <p>Country: {{data.location.country}}</p>
                        <p>Weather condition: {{ data.current.condition.text}}</p>
                        <p>Temperature: {{data.current.feelslike_c}}°C</p>
                        <p>Humidity: {{data.current.humidity}}</p>
                        <p>Wind: {{data.current.gust_kph}}</p>
                    </div> -->
                    <!-- <app-weather [data]="data"></app-weather> -->
                </div>
            </div>
        </div>
    </div>
</body>